<%- include('./common/header.ejs'); %>
<body>
    <section class="vh-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-12 col-xl-10">
            <div class="card mask-custom">
              <div class="card-body p-4 text-white">
                <div class="text-center pt-3 pb-2">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                    alt="Check"
                    width="60"
                  />
                  <h2 class="my-4">Task List</h2>
                </div>
                <form action="/" method="post" class="form-inline">
              
                   <input
                    class="form-control"
                    style="width: 80%"
                    type="text"
                    name="assignee"
                    placeholder="Assign by..."
                  />
                  <img
                  src="../public/images/"
                  alt="avatar 1"
                  style="width: 45px; height: auto"
                />
                  <input
                    class="form-control"
                    style="width: 80%"
                    type="text"
                    name="text"
                    placeholder="Add your task…"
                  />
                  <button
                    type="submit"
                    class="btn btn-warning mb-2"
                    style="margin-left: 20px"
                  >
                    Add Task
                  </button>
                </form>
         

                <table class="table text-white mb-0" style="color: black">
                  <thead>
                    <tr>
                      <th scope="col" >Assignee</th>
                      <th scope="col">Task</th>
                      <th scope="col">Assigned Date</th>
                      <!-- <th scope="col">Priority</th> -->
                      <th scope="col">Actions</th>
            
                    </tr>
                  </thead>
                  <tbody>
                    <% todos.forEach((todo)=>{ %>
                    <tr class="fw-normal">
                      <th>
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                          alt="avatar 1"
                          style="width: 45px; height: auto"
                        />
                        <span class="ms-2">  <%= todo.assignee %></span>
                      </th>
                      <td class="align-middle">
        
                    
                            <span>
                              <%= todo.text %>

                            </span>

                         
                    
                      </td>
                      <!-- <td class="align-middle">
                        <h6 class="mb-0">
                          <span class="badge bg-danger">High priority</span>
                        </h6>
                      </td> -->
                      <td class="align-middle">
        
                    
                        <span>
                          <%= todo.date %>

                        </span>

                     
                
                  </td>
                      <td class="align-middle">
                        
                        <a href="/<%= todo._id %>/deleteTask" data-mdb-toggle="tooltip" title="Remove"
                          ><img
                          src="../public/images/dustbin.png"
                          height="50px"
                          width="50px"
                          alt=""
                      /></a>
                      </td>
           
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
